.home {
  min-height: 100vh;
  background-image: url("../assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  color: white;
}

@media (max-width: 768px) {
  .home {
    background-image: url("../assets/home/background-home-tablet.jpg");
  }
}

@media (max-width: 480px) {
  .home {
    background-image: url("../assets/home/background-home-mobile.jpg");
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
  }
}

.home-text {
  max-width: 450px;
}

.home-text span {
  letter-spacing: 4px;
  color: #d0d6f9;
}

.home-text h1 {
  font-size: 120px;
  margin: 20px 0;
}

.home-text p {
  line-height: 1.7;
  color: #d0d6f9;
}

.home-button button {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  cursor: pointer;
  background: white;
  transition: 0.3s;
}

.home-button button:hover {
  box-shadow: 0 0 0 40px rgba(255, 255, 255, 0.1);
}


@media (max-width: 768px) {
  .home {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 80px;
  }

  .home-text h1 {
    font-size: 80px;
  }

  .home-button button {
    width: 160px;
    height: 160px;
  }
}
